In [69]:
import numpy as np
import pandas as pd
import re
import unicodedata

pd.options.mode.copy_on_write = True # CoW por defecto a partir de Pandas 3.0.0

In [30]:
# carga de data set
df_raw = pd.read_csv(
    "./datasets/Licencias_2024.csv",
    low_memory=False
)

#Durante la carga de datos se detectaron columnas con tipos mixtos, particularmente en variables como el código postal. 
#Dado que estas variables no son numéricas analíticas, se trataron como categóricas y no afectaron el análisis posterior.

In [71]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18915 entries, 0 to 18914
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Nombre                         18915 non-null  object
 1   Apellido1                      18915 non-null  object
 2   Apellido2                      18896 non-null  object
 3   Sexo                           18915 non-null  object
 4   FechaNacimiento                18915 non-null  object
 5   PoblacionDomicilio             18915 non-null  object
 6   DescripcionProvinciaDomicilio  18915 non-null  object
 7   CodigoPostalDomicilio          18915 non-null  object
 8   Unnamed: 8                     0 non-null      float64
 9   Unnamed: 9                     0 non-null      float64
 10  Unnamed: 10                    0 non-null      float64
 11  Estado                         18915 non-null  int64
 12  FechaAltaSolicitud             18915 non-null  object
 13  NumeroClub                     18915 non-null  object
 14  DescripcionEntidad             18915 non-null  object
 15  Temporada                      18915 non-null  int64
 16  Modalidad                      18915 non-null  object
 17  Categoria                      18915 non-null  object
 18  Complementos                   5080 non-null   object
 19  ImporteComplemento             18915 non-null  int64
 20  ImporteFMM                     18915 non-null  float64
 21  ImporteSeguro                  18915 non-null  float64
 22  ImporteFederacionEsp           18915 non-null  float64
 23  ImporteDescuento               18915 non-null  int64
 24  ImporteAmpliacion              18915 non-null  float64
 25  Cuota_Socio                    18915 non-null  int64
 26  Relacion                       18915 non-null  int64
 27  NSocio                         18915 non-null  int64
 28  DireccionDomicilio             18915 non-null  object
 29  NIFFamiliar                    554 non-null    object
 30  TipoTarjeta                    18915 non-null  object
 31  Alta                           18915 non-null  object
 32  Cuaderno19                     18915 non-null  object
 33  Bloqueado envíos               18915 non-null  object
 34  Unnamed: 34                    0 non-null      float64
 35  Envío tarjeta                  18915 non-null  object
 36  Discapacidad                   18915 non-null  object
dtypes: float64(8), int64(7), object(22)
memory usage: 5.3+ MB

In [31]:
df_raw.shape, df_raw.columns

((18915, 37),
 Index(['Nombre', 'Apellido1', 'Apellido2', 'Sexo', 'FechaNacimiento',
        'PoblacionDomicilio', 'DescripcionProvinciaDomicilio',
        'CodigoPostalDomicilio', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
        'Estado', 'FechaAltaSolicitud', 'NumeroClub', 'DescripcionEntidad',
        'Temporada', 'Modalidad', 'Categoria', 'Complementos',
        'ImporteComplemento', 'ImporteFMM', 'ImporteSeguro',
        'ImporteFederacionEsp', 'ImporteDescuento', 'ImporteAmpliacion',
        'Cuota_Socio', 'Relacion', 'NSocio', 'DireccionDomicilio',
        'NIFFamiliar', 'TipoTarjeta', 'Alta', 'Cuaderno19', 'Bloqueado envíos',
        'Unnamed: 34', 'Envío tarjeta', 'Discapacidad'],
       dtype='object'))

In [72]:
df = df_raw.copy()

In [73]:
df.head(10)

,Nombre,Apellido1,Apellido2,Sexo,FechaNacimiento,PoblacionDomicilio,DescripcionProvinciaDomicilio,CodigoPostalDomicilio,Unnamed: 8,Unnamed: 9,Unnamed: 10,Estado,FechaAltaSolicitud,NumeroClub,DescripcionEntidad,Temporada,Modalidad,Categoria,Complementos,ImporteComplemento,ImporteFMM,ImporteSeguro,ImporteFederacionEsp,ImporteDescuento,ImporteAmpliacion,Cuota_Socio,Relacion,NSocio,DireccionDomicilio,NIFFamiliar,TipoTarjeta,Alta,Cuaderno19,Bloqueado envíos,Unnamed: 34,Envío tarjeta,Discapacidad
0,MIGUEL ANGEL,ABAD,ABAD,H,1/26/1993,GUADALAJARA,GUADALAJARA,19003,NaN,NaN,NaN,3,7/26/2024,07.28.000,FMM INDIVIDUAL,2024,C,Mayor Varón,NaN,0,43.20,113.30,0.00,-2,0.0,0,8592,77005,CALLE CONSTITUCIÓN 37 4D,NaN,D,FORM,NO,NO,NaN,NO,NO
1,CRISTINA,ABAD,ARRANZ,M,3/8/1990,VALLADOLID,VALLADOLID,47300,NaN,NaN,NaN,3,1/7/2024,07.28.370,CDE TODOVERTICAL,2024,B,Mayor Mujer,FEDME,0,29.95,56.55,13.33,-2,0.0,0,3660,71299,CARRETERA DE PESQUERA NUMERO 30,NaN,D,SERVWEB,NO,NO,NaN,NO,NO
2,LUNA,ABAD,CAMPOS,M,4/26/2013,GETAFE,MADRID,28906,NaN,NaN,NaN,3,1/1/2024,07.28.000,FMM INDIVIDUAL,2024,AU,Infantil Mujer,NaN,0,19.38,15.62,0.00,0,0.0,0,263,73846,CALLE DE LA GIGANTA ANDANDONA 6 PORTAL 1 3C,NaN,P,INDIVIDUAL,SI,NO,NaN,NO,NO
3,JOSE ANTONIO,ABAD,CANDELA,H,7/30/1936,MADRID,MADRID,28028,NaN,NaN,NaN,3,1/1/2024,07.28.000,FMM INDIVIDUAL,2024,AU,Mayor Varón,NaN,0,44.04,41.96,0.00,0,0.0,0,182,58372,"AVENIDA BAVIERA NUMERO 12 PISO 6º, IZQ",NaN,P,INDIVIDUAL,SI,NO,NaN,NO,NO
4,ESTEBAN EUSEBIO,ABAD,DE MIGUEL,H,12/16/1946,MADRID,MADRID,28017,NaN,NaN,NaN,3,1/3/2024,07.28.000,INDIVIDUAL,2024,A,Mayor Varón,NaN,0,30.26,51.74,0.00,-2,0.0,0,3052,56522,CALLE SERVANDO BATANERO NUMERO 1,NaN,D,ENLACE,NO,NO,NaN,NO,NO
5,EDUARDO,ABAD,DIAZ,H,10/24/1990,MADRID,MADRID,28010,NaN,NaN,NaN,3,1/1/2024,07.28.000,FMM INDIVIDUAL,2024,B,Mayor Varón,NaN,0,43.95,56.55,0.00,0,0.0,0,182,70112,C/ ALONSO CANO Nº 15 BAJO A,NaN,P,INDIVIDUAL,SI,NO,NaN,NO,NO
6,AARON,ABAD,ESTEBAN,H,1/26/1981,LAS ROZAS,MADRID,28290,NaN,NaN,NaN,3,6/7/2024,07.28.370,CDE TODOVERTICAL,2024,C,Mayor Varón,NaN,0,29.20,113.30,0.00,-2,0.0,0,8174,76806,CALLE AMPURIAS NUMERO 12,NaN,D,SERVWEB,NO,NO,NaN,NO,NO
7,JAIME,ABAD,ESTEBAN,H,4/12/1972,MADRID,MADRID,28002,NaN,NaN,NaN,3,1/1/2024,07.28.000,FMM INDIVIDUAL,2024,B,Mayor Varón,NaN,0,43.95,56.55,0.00,0,0.0,0,182,16437,Calle PADRE CLARET Numero 11 Piso 5 Letra A,NaN,P,INDIVIDUAL,SI,NO,NaN,NO,NO
8,CONCEPCION,ABAD,FERNANDEZ,M,6/19/1957,MADRID,MADRID,28029,NaN,NaN,NaN,3,1/1/2024,07.28.088,A.D. RUTAS,2024,B,Mayor Mujer,NaN,0,29.95,56.55,0.00,0,0.0,0,742,47626,CALLE VILLA DE MARIN 28,NaN,P,SERVWEB,NO,NO,NaN,NO,NO
9,MARINA,ABAD,GARCIA,M,3/4/1946,MADRID,MADRID,28024,NaN,NaN,NaN,3,1/4/2024,07.28.303,CLUB TIERRA DE FUEGO,2024,B,Mayor Mujer,NaN,0,29.95,56.55,0.00,0,0.0,0,3318,40051,CALLE ILLESCAS NUMERO 143 PISO 9º LETRA A,NaN,P,REMESA,NO,NO,NaN,NO,NO

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18915 entries, 0 to 18914
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Nombre                         18915 non-null  object
 1   Apellido1                      18915 non-null  object
 2   Apellido2                      18896 non-null  object
 3   Sexo                           18915 non-null  object
 4   FechaNacimiento                18915 non-null  object
 5   PoblacionDomicilio             18915 non-null  object
 6   DescripcionProvinciaDomicilio  18915 non-null  object
 7   CodigoPostalDomicilio          18915 non-null  object
 8   Unnamed: 8                     0 non-null      float64
 9   Unnamed: 9                     0 non-null      float64
 10  Unnamed: 10                    0 non-null      float64
 11  Estado                         18915 non-null  int64
 12  FechaAltaSolicitud             18915 non-null  object
 13  NumeroClub                     18915 non-null  object
 14  DescripcionEntidad             18915 non-null  object
 15  Temporada                      18915 non-null  int64
 16  Modalidad                      18915 non-null  object
 17  Categoria                      18915 non-null  object
 18  Complementos                   5080 non-null   object
 19  ImporteComplemento             18915 non-null  int64
 20  ImporteFMM                     18915 non-null  float64
 21  ImporteSeguro                  18915 non-null  float64
 22  ImporteFederacionEsp           18915 non-null  float64
 23  ImporteDescuento               18915 non-null  int64
 24  ImporteAmpliacion              18915 non-null  float64
 25  Cuota_Socio                    18915 non-null  int64
 26  Relacion                       18915 non-null  int64
 27  NSocio                         18915 non-null  int64
 28  DireccionDomicilio             18915 non-null  object
 29  NIFFamiliar                    554 non-null    object
 30  TipoTarjeta                    18915 non-null  object
 31  Alta                           18915 non-null  object
 32  Cuaderno19                     18915 non-null  object
 33  Bloqueado envíos               18915 non-null  object
 34  Unnamed: 34                    0 non-null      float64
 35  Envío tarjeta                  18915 non-null  object
 36  Discapacidad                   18915 non-null  object
dtypes: float64(8), int64(7), object(22)
memory usage: 5.3+ MB

In [75]:
# Normalización de nombres de columnas
def normalizar_texto(texto):
    texto = texto.lower().strip()
    texto = unicodedata.normalize('NFKD', texto)
    texto = texto.encode('ascii', 'ignore').decode('utf-8')
    texto = texto.replace(' ', '_')
    return texto

df.columns = [normalizar_texto(col) for col in df.columns]

In [76]:
# Eliminar columnas duplicadas
cols_mayusculas = [
    'alta', 'apellido1', 'apellido2', 'bloqueado_envios',
    'categoria', 'codigopostaldomicilio', 'complementos',
    'cuaderno19', 'cuota_socio', 'descripcionentidad',
    'descripcionprovinciadomicilio', 'direcciondomicilio',
    'discapacidad', 'envio_tarjeta', 'estado',
    'fechaaltasolicitud', 'fechanacimiento', 'importeampliacion',
    'importecomplemento', 'importedescuento', 'importefmm',
    'importefederacionesp', 'importeseguro', 'modalidad',
    'niffamiliar', 'nsocio', 'nombre', 'numeroclub',
    'poblaciondomicilio', 'relacion', 'sexo', 'temporada',
    'tipotarjeta'
]

df = df.loc[:, ~df.columns.duplicated()]

In [77]:
#Eliminación de columnas 100% nulas
nulos = df.isna().mean()
cols_100_nulas = nulos[nulos == 1].index

df.drop(columns=cols_100_nulas, inplace=True)

In [78]:
# eliminar columnas no analiticas #Datos personales / sin valor estadístico

cols_eliminar = [
    'nombre',
    'apellido1',
    'apellido2',
    'direcciondomicilio',
    'niffamiliar',
    'tipotarjeta'
]

df.drop(columns=cols_eliminar, inplace=True, errors='ignore')

In [92]:
# Eliminación de columnas sin valor analítico para el EDA

cols_eliminar_extra = [
    # Administrativas / logísticas
    'numeroclub',
    'descripcionentidad',
    'cuaderno19',
    'alta',
    'envio_tarjeta',
    'bloqueado_envios',
    'relacion',

    # Geográficas de alta granularidad
    'codigopostaldomicilio',
    'poblaciondomicilio',

    # Económicas no utilizadas directamente
    'importefmm',
    'importefederacionesp',
    'importecomplemento',
    'importedescuento',
    'importeampliacion'
]

df.drop(columns=cols_eliminar_extra, inplace=True, errors='ignore')

# Verificación
df.columns
#Se eliminaron variables administrativas, logísticas, geográficas de alta cardinalidad y económicas no directamente relacionadas con el análisis de
#siniestralidad, con el objetivo de reducir ruido y centrar el análisis en variables explicativas.

Index(['sexo', 'fechanacimiento', 'descripcionprovinciadomicilio', 'estado',
       'fechaaltasolicitud', 'temporada', 'modalidad', 'categoria',
       'complementos', 'importeseguro', 'cuota_socio', 'nsocio',
       'discapacidad', 'edad'],
      dtype='object')

In [93]:
nulos_final = df.isna().mean().sort_values(ascending=False)
nulos_final.head(10)

complementos                     0.73143
sexo                             0.00000
descripcionprovinciadomicilio    0.00000
estado                           0.00000
fechaaltasolicitud               0.00000
fechanacimiento                  0.00000
temporada                        0.00000
modalidad                        0.00000
categoria                        0.00000
importeseguro                    0.00000
dtype: float64

In [94]:
# conversion de fechas 
df['fechanacimiento'] = pd.to_datetime(df['fechanacimiento'], errors='coerce')
df['fechaaltasolicitud'] = pd.to_datetime(df['fechaaltasolicitud'], errors='coerce')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18915 entries, 0 to 18914
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   sexo                           18915 non-null  category
 1   fechanacimiento                18915 non-null  datetime64[ns]
 2   descripcionprovinciadomicilio  18915 non-null  category
 3   estado                         18915 non-null  int64
 4   fechaaltasolicitud             18915 non-null  datetime64[ns]
 5   temporada                      18915 non-null  int64
 6   modalidad                      18915 non-null  category
 7   categoria                      18915 non-null  category
 8   complementos                   5080 non-null   object
 9   importeseguro                  18915 non-null  float64
 10  cuota_socio                    18915 non-null  int64
 11  nsocio                         18915 non-null  int64
 12  discapacidad                   18915 non-null  category
 13  edad                           18915 non-null  int64
dtypes: category(5), datetime64[ns](2), float64(1), int64(5), object(1)
memory usage: 1.4+ MB

In [96]:
#crear variable edad 
df['edad'] = (
    pd.Timestamp('2024-12-31') - df['fechanacimiento']
).dt.days // 365

In [97]:
# Limpieza y normalizacion de sexo # se detectó que la variable sexo estaba codificada en origen mediante las letras ‘H’ y ‘M’.
#Durante la exploración se corrigió una reasignación previa y se realizó una normalización semántica partiendo nuevamente de los datos originales
#para preservar la correcta distribución de la variable.

df['sexo'] = df_raw['Sexo'].copy()

# Normalización básica
df['sexo'] = (
    df['sexo']
    .astype(str)
    .str.strip()
    .str.upper()
)

# Mapeo SEMÁNTICO CORRECTO
df['sexo'] = df['sexo'].replace({
    'H': 'MASCULINO',
    'M': 'FEMENINO'
})

In [98]:
df['sexo'].value_counts(dropna=False)

sexo
MASCULINO    12677
FEMENINO      6238
Name: count, dtype: int64

In [99]:
#Conversión de variables categóricas   
cols_cat = [
    'sexo',
    'modalidad',
    'categoria',
    'discapacidad',
    'descripcionprovinciadomicilio',
    'poblaciondomicilio'
]

for col in cols_cat:
    if col in df.columns:
        df[col] = df[col].astype('category')

# se convierten a category para reflejar adecuadamente su naturaleza estadística, mejorar la eficiencia del procesamiento y facilitar el análisis exploratorio.

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18915 entries, 0 to 18914
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   sexo                           18915 non-null  category
 1   fechanacimiento                18915 non-null  datetime64[ns]
 2   descripcionprovinciadomicilio  18915 non-null  category
 3   estado                         18915 non-null  int64
 4   fechaaltasolicitud             18915 non-null  datetime64[ns]
 5   temporada                      18915 non-null  int64
 6   modalidad                      18915 non-null  category
 7   categoria                      18915 non-null  category
 8   complementos                   5080 non-null   object
 9   importeseguro                  18915 non-null  float64
 10  cuota_socio                    18915 non-null  int64
 11  nsocio                         18915 non-null  int64
 12  discapacidad                   18915 non-null  category
 13  edad                           18915 non-null  int64
dtypes: category(5), datetime64[ns](2), float64(1), int64(5), object(1)
memory usage: 1.4+ MB

In [101]:
# Análisis de cardinalidad

def resumen_cardinalidad(df):
    return (
        pd.DataFrame({
            'tipo_dato': df.dtypes,
            'valores_unicos': df.nunique(),
            'cardinalidad_%': round(df.nunique() / len(df) * 100, 2)
        })
        .sort_values('cardinalidad_%', ascending=False)
    )

cardinalidad = resumen_cardinalidad(df)
cardinalidad

                                    tipo_dato  valores_unicos  cardinalidad_%
nsocio                                  int64           18909           99.97
fechanacimiento                datetime64[ns]           12379           65.45
fechaaltasolicitud             datetime64[ns]             311            1.64
edad                                    int64              90            0.48
descripcionprovinciadomicilio        category              52            0.27
complementos                           object              40            0.21
discapacidad                         category              39            0.21
importeseguro                         float64              37            0.20
cuota_socio                             int64              36            0.19
modalidad                            category              11            0.06
categoria                            category              10            0.05
temporada                               int64               1            0.01
sexo                                 category               2            0.01
estado                                  int64               1            0.01

In [102]:
#nulos despues de limpiar 
nulos_despues = (
    df.isna()
    .mean()
    .sort_values(ascending=False) * 100
)

nulos_despues

complementos                     73.143008
sexo                              0.000000
descripcionprovinciadomicilio     0.000000
estado                            0.000000
fechaaltasolicitud                0.000000
fechanacimiento                   0.000000
temporada                         0.000000
modalidad                         0.000000
categoria                         0.000000
importeseguro                     0.000000
cuota_socio                       0.000000
nsocio                            0.000000
discapacidad                      0.000000
edad                              0.000000
dtype: float64

In [103]:
comparacion_nulos = pd.DataFrame({
    'nulos_antes_%': nulos_antes,
    'nulos_despues_%': nulos_despues
}).fillna(0)

comparacion_nulos

                               nulos_antes_%  nulos_despues_%
Alta                                0.000000         0.000000
Apellido1                           0.000000         0.000000
Apellido2                           0.100449         0.000000
Bloqueado envíos                    0.000000         0.000000
Categoria                           0.000000         0.000000
CodigoPostalDomicilio               0.000000         0.000000
Complementos                       73.143008         0.000000
Cuaderno19                          0.000000         0.000000
Cuota_Socio                         0.000000         0.000000
DescripcionEntidad                  0.000000         0.000000
DescripcionProvinciaDomicilio       0.000000         0.000000
DireccionDomicilio                  0.000000         0.000000
Discapacidad                        0.000000         0.000000
Envío tarjeta                       0.000000         0.000000
Estado                              0.000000         0.000000
FechaAltaSolicitud                  0.000000         0.000000
FechaNacimiento                     0.000000         0.000000
ImporteAmpliacion                   0.000000         0.000000
ImporteComplemento                  0.000000         0.000000
ImporteDescuento                    0.000000         0.000000
ImporteFMM                          0.000000         0.000000
ImporteFederacionEsp                0.000000         0.000000
ImporteSeguro                       0.000000         0.000000
Modalidad                           0.000000         0.000000
NIFFamiliar                        97.071108         0.000000
NSocio                              0.000000         0.000000
Nombre                              0.000000         0.000000
NumeroClub                          0.000000         0.000000
PoblacionDomicilio                  0.000000         0.000000
Relacion                            0.000000         0.000000
Sexo                                0.000000         0.000000
Temporada                           0.000000         0.000000
TipoTarjeta                         0.000000         0.000000
Unnamed: 10                       100.000000         0.000000
Unnamed: 34                       100.000000         0.000000
Unnamed: 8                        100.000000         0.000000
Unnamed: 9                        100.000000         0.000000
categoria                           0.000000         0.000000
complementos                        0.000000        73.143008
cuota_socio                         0.000000         0.000000
descripcionprovinciadomicilio       0.000000         0.000000
discapacidad                        0.000000         0.000000
edad                                0.000000         0.000000
estado                              0.000000         0.000000
fechaaltasolicitud                  0.000000         0.000000
fechanacimiento                     0.000000         0.000000
importeseguro                       0.000000         0.000000
modalidad                           0.000000         0.000000
nsocio                              0.000000         0.000000
sexo                                0.000000         0.000000
temporada                           0.000000         0.000000

In [104]:
df.shape

(18915, 14)

In [105]:
df.head(10)

,sexo,fechanacimiento,descripcionprovinciadomicilio,estado,fechaaltasolicitud,temporada,modalidad,categoria,complementos,importeseguro,cuota_socio,nsocio,discapacidad,edad
0,MASCULINO,1993-01-26,GUADALAJARA,3,2024-07-26,2024,C,Mayor Varón,NaN,113.30,0,77005,NO,31
1,FEMENINO,1990-03-08,VALLADOLID,3,2024-01-07,2024,B,Mayor Mujer,FEDME,56.55,0,71299,NO,34
2,FEMENINO,2013-04-26,MADRID,3,2024-01-01,2024,AU,Infantil Mujer,NaN,15.62,0,73846,NO,11
3,MASCULINO,1936-07-30,MADRID,3,2024-01-01,2024,AU,Mayor Varón,NaN,41.96,0,58372,NO,88
4,MASCULINO,1946-12-16,MADRID,3,2024-01-03,2024,A,Mayor Varón,NaN,51.74,0,56522,NO,78
5,MASCULINO,1990-10-24,MADRID,3,2024-01-01,2024,B,Mayor Varón,NaN,56.55,0,70112,NO,34
6,MASCULINO,1981-01-26,MADRID,3,2024-06-07,2024,C,Mayor Varón,NaN,113.30,0,76806,NO,43
7,MASCULINO,1972-04-12,MADRID,3,2024-01-01,2024,B,Mayor Varón,NaN,56.55,0,16437,NO,52
8,FEMENINO,1957-06-19,MADRID,3,2024-01-01,2024,B,Mayor Mujer,NaN,56.55,0,47626,NO,67
9,FEMENINO,1946-03-04,MADRID,3,2024-01-04,2024,B,Mayor Mujer,NaN,56.55,0,40051,NO,78

In [106]:
df.to_csv(
    "./datasets/Licencias_2024_limpio.csv",
    index=False,
    encoding='utf-8'
)